@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
   font-family: Roboto;
   font-size: 22px;
   font-style: normal;
   line-height: 38.5px;
   font-weight: normal;
   color: black;
}

section {
  padding: 75px 0px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*Header styles start */

.header {
  background-color: #030303;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 62px 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 76px;
}

.header__item:last-child {
  margin-right: 0
}

.header__link {
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
}

.header__link:hover, .header__link:focus, .header__link__active {

  color: #9D8665;;
}

/*Header styles end */

/*Welcome section styles start */

.welcome {
  background: black;
  background-size: cover;
}

.welcome__wrapper {
  margin: 0;
  display: flex;
  height: 750px;
}

.welcome__image {
  display: block;
  height: 750px;
  width: 1000px;
  bottom: 0;
  right: 0;
  background: url(../museum/assets/img/background-2.jpg);
  /* background-position-x: calc(100% - 0px);
  background-position-y: calc(100% - 0px); */
  /* background-repeat: no-repeat; */
  z-index: 1;
}

.welcome__text {
  display: block;
  margin-top: 150px;
  z-index: 2;
}

.welcome__title {
  width: 598px;
  left: 0px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.welcome__desc {
  width: 445px;
  height: 33px;
  left: 0px;
  margin-top: 25px;
 
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome__button {
  width: 360px;
  height: 75px;
  left: 0px;
  margin-top: 75px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  background: #710707;
  border-radius: 10px;
}

.welcome__button:hover, .welcome__button:focus, .welcome__button:active {
  background: #9D8665;
}

/*Welcome section styles end */

/*Visiting section styles start */


.gold-title {
width: 700px;
height: 90px;
left: 0px;
top: 75px;
font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
letter-spacing: 5px;
text-transform: uppercase;
color: #9D8665;
}

.visiting__line {
width: 1440px;
height: 3px;
left: 0px;
margin-top: 25px;
background: #710707;
border-radius: 0px;
}

.visiting__cards {
margin-top: 75px;
height: 922px;
width: 1440px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 60px;
grid-auto-rows: minmax(422px, auto);
}

.visiting__card-1 {
position: relative;
grid-column-start: 1;
grid-row-start: 1;
}

.visiting__card-2 {
position: relative; 
grid-column-start: 2;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 1;
}

.visiting__card-3 {
position: relative;
grid-column-start: 3;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 1;
}

.visiting__card-4 {
position: relative;
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 2;
grid-row-end: 2;
}

.visiting__card-5 {
position: relative;
grid-column-start: 2;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 2;
}

.visiting__card-6 {
position: relative;
grid-column-start: 3;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 2;
}

.visiting__card-pic {
position: absolute;
width: 440px;
height: 285px;


background: url(.jpg);
border-radius: 0px;
}

.visiting__card-link {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1;
}

.visiting__subtitle {
position: absolute;
width: 403px;
height: 35px;
left: 0px;
top: 313px;

font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 35px;
letter-spacing: 5px;
text-transform: uppercase;

color: #000000;
}

.visiting__line-card {
position: absolute;
width: 300px;
height: 2px;
left: 0px;
top: 354px;

background: #710707;
border-radius: 0px;
}

.visiting__card-desc {
position: absolute;
width: 165px;
height: 26px;
left: 0px;
top: 366px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;

color: #000000;
}

.visiting__card-desc-2 {
position: absolute;
width: 240px;
height: 21px;
left: 0px;
top: 402px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 21px;

color: #000000;
}

/*Visiting section styles end */

/*Explore section styles start */

.explore {
  background-color: #000000;
  background-size: cover;
  padding: 75px 0px;
}

.explore__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 75px 10px 68px 10px;
}

.explore__text {
  margin-right: 60px;
}

.explore__title {
  width: 660px;
  height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.explore__line {
  width: 660px;
  height: 3px;
  margin-top: 25px;
  background: #710707;
  border-radius: 0px;
}

.explore__desc {
  width: 660px;
  height: 77px;
  margin-top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;

}

p {
  margin-bottom: 25px;
}

.explore__wrapper p span {
  color:#CAAA7D;
}

.explore_img {
  width: 720px;
  height: 700px;
  border-radius: 0px;
}

/*Explore section styles end */

/*Video section styles start */

.video__mp4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.video__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

.video__title {
  display: block;
  width: 720px;
  height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.video__desc {
  display: block;
  width: 720px;
  height: 90px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

/*Video section styles end*/
/*Tickets section styles start*/


.tickets {
  background-color: #000000;
}

/* .section__wrapper {
  padding: 75px 0;
} */

.tickets__title {
  width: 500px;
  height: 90px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:white;
}

.tickets__line {
  height: 3px;
  margin: 25px 0 75px;

  background: #710707;
}

.tickets__wrapper {
  display: flex;
}  

.tickets__img {
  width: 720px;
  height: 550px;
}

.tickets__radio {
  margin-left: 60px;
}

.tickets__radio-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: black;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.tickets__radio-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #FFFFFF;
}

.tickets__radio-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #FFFFFF;
}

.tickets__radio-list {
  width: 230px;
  margin-top: 50px;
  color: #FFFFFF;
}

.tickets__radio-item {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}

.tickets__radio-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tickets__amount {
  margin-left: auto;
}

.tickets__amount-title {
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #FFFFFF;
}

.tickets__amount-block {
  color: #FFFFFF;
  margin-bottom: 35px;
  margin-left: auto;
  width: 150px;
}

.tickets__amount-block-title {
  margin-bottom: 15px;
}

.tickets__counter {
  display: flex;
  justify-content: space-between;
  border: 3px solid #FFFFFF;
  padding: 0 14px;
}

.tickets__amount-total {
margin: 50px 0;
text-align: right;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;

letter-spacing: 1.65px;

color: #FFFFFF;
}

.tickets__button {
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #000000;

  background: #FFFFFF;
  border-radius: 2px;
}

/*Tickets section styles end*/

.img__parallax {
  height: 400px;
  width: 100%;
  background: url(../museum/assets/img/parallax.jpg);
  /* background-position-x: calc(100% - 0px);
  background-position-y: calc(100% - 0px); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
}

/* Contacts section style start */

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.contacts__desc {
  display: block;
  width: 282px;
}

.contacts__img {
  display: block;
  width: 960px;
  height: 620px;
}

/* Contacts section style end */
/* Footer section style start */

.footer {
  background-color: #000000;
  padding: 85px 0px 50px 0px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logos {
  display: flex;
  padding-top: 100px;
  right: 0;
  margin-left: 300px;
}

.footer_logo-item {
  margin-left: 50px;
}